Repository cyfronet-fid/recommender-system, pull requests merged in 2021-10, with the labels that each got.

#198 [#180] Fix SARS Encoder test
  recommender/engine/agents/rl_agent/utils.py
  tests/test_sars_encoder.py
  tests/test_utils.py
Labels: bug, tests

#197 [#182] Fix Load DB Dump test
  tests/services/test_mp_dump.py
  tests/tasks/test_db.py
Labels: bug, tests

#204 [#173] Fix search data encoder tests
  tests/test_search_data_encoder.py
Labels: bug, tests

#205 [#177] Refactor test directory tree
  recommender/engine/models/autoencoders.py
  tests/endpoints/test_update.py
  tests/engine/__init__.py
  tests/engine/agents/__init__.py
  tests/engine/agents/test_pre_agent.py
  tests/engine/agents/test_rl_agent.py
  tests/engine/datasets/__init__.py
  tests/engine/datasets/test_datasets.py
  tests/engine/models/__init__.py
  tests/engine/models/test_actor_model.py
  tests/engine/models/test_critic_model.py
  tests/engine/models/test_history_embedder.py
  tests/engine/models/test_nn_models.py
  tests/engine/preprocessing/__init__.py
  tests/engine/preprocessing/test_encoders.py
  tests/engine/preprocessing/test_preprocessing.py
  tests/engine/preprocessing/test_reward_encoder.py
  tests/engine/preprocessing/test_sars_encoder.py
  tests/engine/preprocessing/test_search_data_encoder.py
  tests/engine/preprocessing/test_transformers.py
  tests/engine/test_service_selector.py
  tests/engine/test_services2weights.py
  tests/engine/test_utils.py
  tests/engine/training/__init__.py
  tests/engine/training/test_neural_colaborative_filtering.py
Labels: refactor

#221 [#185, #186] Create embedder class, tensors caching
  recommender/engine/agents/pre_agent/datasets/neural_collaborative_filtering.py
  recommender/engine/agents/pre_agent/training/common.py
  recommender/engine/agents/rl_agent/models/actor.py
  recommender/engine/agents/rl_agent/models/critic.py
  recommender/engine/agents/rl_agent/models/history_embedder.py
  recommender/engine/agents/rl_agent/preprocessing/reward_encoder.py
  recommender/engine/agents/rl_agent/preprocessing/state_encoder.py
  recommender/engine/agents/rl_agent/training/agent_trainable.py
  recommender/engine/agents/rl_agent/training/common.py
  recommender/engine/agents/rl_agent/training/simulation.py
  recommender/engine/agents/rl_agent/utils.py
  recommender/engine/datasets/autoencoders.py
  recommender/engine/models/autoencoders.py
  recommender/engine/preprocessing/embedder.py
  recommender/engine/preprocessing/normalizer.py
  recommender/engine/preprocessing/preprocessing.py
  recommender/engine/training/autoencoders.py
  recommender/errors.py
  recommender/models/service.py
  recommender/models/user.py
  recommender/services/sarses_generator.py
  tasks/autoencoders/real_data_training.py
  tasks/rl_agent/fake_data_training.py
  tests/engine/agents/test_rl_agent.py
  tests/engine/models/test_critic_model.py
  tests/engine/preprocessing/test_embeder.py
  tests/engine/preprocessing/test_encoders.py
  tests/engine/preprocessing/test_normalizer.py
  tests/engine/preprocessing/test_preprocessing.py
  tests/engine/preprocessing/test_sars_encoder.py
  tests/engine/test_service_selector.py
  tests/engine/test_utils.py
  tests/services/test_mp_dump.py
  tests/services/test_service_selector.py
  tests/tasks/test_db.py
  tests/tasks/test_preprocessing_task.py
Labels: enhancement, ML
